@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

.container {
  margin: 0 auto;
  padding: 0 15px; }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px; }

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.nav-logo--name {
  text-transform: uppercase;
  border-bottom: 1px solid #ee5d1b;
  padding: 5px 50px 5px 0;
  font-size: 12px;
  color: #3f4040;
  font-weight: 700; }

.nav-logo--company {
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: 300;
  font-size: 12px; }

.nav-menu {
  display: none; }
  @media (min-width: 992px) {
    .nav-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      list-style-type: none;
      padding: 0; } }
  .nav-menu a {
    text-transform: uppercase;
    padding: 10px;
    margin: 0 5px;
    color: #3f4040;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px; }
    .nav-menu a:hover {
      cursor: pointer; }
    @media (min-width: 1200px) {
      .nav-menu a {
        font-size: 15px; } }

.nav-menu__contact-me_desk a {
  margin-right: 0;
  color: #fff !important; }

.main-page--slider__picture {
  position: absolute;
  z-index: -1;
  top: 0;
  min-height: 100%; }

.main-page--slider__headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -130px; }
  .main-page--slider__headers h1 {
    color: #fff;
    text-align: center;
    width: 70%;
    font-size: 20px;
    padding-bottom: 15px; }
    @media (min-width: 992px) {
      .main-page--slider__headers h1 {
        font-size: 34px; } }
  @media (min-width: 768px) {
    .main-page--slider__headers {
      top: -45px; } }

.content {
  overflow: hidden;
  font-size: 15px;
  color: #ecf0f1; }
  @media (min-width: 768px) {
    .content {
      font-size: 19px;
      height: 100px;
      line-height: 40px; } }
  @media (min-width: 992px) {
    .content {
      font-size: 25px;
      height: 160px; } }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px; }
    .content__container__text {
      display: inline;
      float: left;
      margin: 0; }
    .content__container__list {
      margin-top: 0;
      text-align: left;
      list-style: none;
      padding: 0;
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite; }
      .content__container__list__item {
        line-height: 40px;
        margin: 0;
        text-align: center; }

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0); } }

@keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0); } }

.main-page--slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -100px; }
  @media (min-width: 768px) {
    .main-page--slider__buttons {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.btn {
  margin: 5px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold; }
  .btn:hover {
    cursor: pointer;
    text-decoration: none; }

.btn-white {
  background: #fff;
  color: #000; }

.btn-orange {
  background: #ee5d1b;
  color: #fff; }

.main-page--slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 500px;
  overflow: hidden; }
  @media (min-width: 768px) {
    .main-page--slider {
      height: 550px; } }

.main-page--slider__bottom-picture {
  width: 200px;
  position: absolute;
  bottom: 0; }

.wwwm {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.wwwm-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  @media (min-width: 768px) {
    .wwwm-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.wwwm-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 35px;
  border-bottom: 9px solid #55e9e9;
  height: 16px; }
  @media (min-width: 768px) {
    .wwwm-header {
      font-size: 35px;
      height: 25px; } }

.wwwm-content--left {
  width: 100%; }
  @media (min-width: 768px) {
    .wwwm-content--left {
      width: 58%; } }

.wwwm-content--right {
  width: 100%; }
  @media (min-width: 768px) {
    .wwwm-content--right {
      width: 38%;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0; } }

.wwwm-content--right__form-wrapper {
  background: #f3f3f3;
  margin-left: auto;
  padding: 20px 20px 0 20px;
  margin-bottom: 50px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .wwwm-content--right__form-wrapper h1 {
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: 9px solid #55e9e9;
    height: 17px; }
  .wwwm-content--right__form-wrapper p {
    font-size: 18px;
    color: #535252;
    font-weight: 600;
    text-align: center; }
    @media (min-width: 768px) {
      .wwwm-content--right__form-wrapper p {
        text-align: left; } }
  @media (min-width: 768px) {
    .wwwm-content--right__form-wrapper {
      width: 80%;
      margin-bottom: 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.wwwm-content--left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 0; }
  .wwwm-content--left__content img {
    width: 100px; }
    @media (min-width: 768px) {
      .wwwm-content--left__content img {
        margin-right: 15px; } }
  @media (min-width: 768px) {
    .wwwm-content--left__content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.wwwm-content--right__header {
  text-align: center;
  margin: 0; }
  @media (min-width: 768px) {
    .wwwm-content--right__header {
      text-align: left; } }

.wwwm-content--right__form {
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .wwwm-content--right__form {
      margin-bottom: unset; } }
  .wwwm-content--right__form input,
  .wwwm-content--right__form textarea {
    width: 100%;
    margin: 5px 0;
    padding: 0 0 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .wwwm-content--right__form input {
    height: 50px; }
  .wwwm-content--right__form textarea {
    height: 135px;
    padding-top: 10px;
    resize: none; }
    @media (min-width: 768px) {
      .wwwm-content--right__form textarea {
        height: 250px; } }
    @media (min-width: 992px) {
      .wwwm-content--right__form textarea {
        height: 180px; } }
    @media (min-width: 1200px) {
      .wwwm-content--right__form textarea {
        height: 150px; } }

.companies-worked-with-wrapper {
  background: #e6e6e6; }

.companies-worked-with {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 35px 0; }
  .companies-worked-with h1 {
    font-size: 25px;
    color: #3f4040;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center; }
    @media (min-width: 768px) {
      .companies-worked-with h1 {
        text-align: left; } }

@media (min-width: 992px) {
  .companies-worked-with--logos-mobile {
    display: none; } }

.companies-worked-with--logos-mobile ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px; }

.companies-worked-with--logos {
  display: none; }
  .companies-worked-with--logos img {
    max-height: 80px;
    max-width: 200px;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .companies-worked-with--logos img {
        margin-bottom: 0; } }
  @media (min-width: 992px) {
    .companies-worked-with--logos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

.left--content--content {
  margin-top: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .left--content--content h1 {
    font-size: 25px;
    color: #3f4040;
    font-weight: 700;
    border-bottom: 9px solid #55e9e9;
    height: 17px; }
  .left--content--content p {
    font-size: 14px;
    color: #535252;
    font-weight: 600; }
  @media (min-width: 768px) {
    .left--content--content {
      margin-top: 0;
      text-align: left;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.questions {
  background: #f3f3f3;
  width: 100%; }

.questions-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0; }
  .questions-content div {
    width: 100%; }
  @media (min-width: 768px) {
    .questions-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.question-image {
  margin: 50px 0 20px;
  text-align: center; }
  .question-image img {
    width: 85%; }
  @media (min-width: 768px) {
    .question-image {
      text-align: unset;
      margin: 0; } }

.questions-qa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .questions-qa h1 {
    font-size: 24px;
    color: #3f4040;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0; }
    @media (min-width: 768px) {
      .questions-qa h1 {
        text-align: left; } }
  .questions-qa .uk-accordion-title {
    font-size: 20px;
    color: #535252;
    font-weight: 700; }

.free-consultation--background {
  position: absolute;
  z-index: -1;
  height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .free-consultation--background {
      height: 150px; } }
  .free-consultation--background img {
    height: 100%;
    width: auto; }
    @media (min-width: 768px) {
      .free-consultation--background img {
        height: unset; } }

.free-consultation--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .free-consultation--content h1 {
    font-size: 23px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 25px 0; }
    @media (min-width: 768px) {
      .free-consultation--content h1 {
        text-align: left;
        margin: 0 35px 0 0; } }
  @media (min-width: 768px) {
    .free-consultation--content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.page-breadcrumb {
  background: #dddcdb;
  width: 100%;
  padding: 15px 0; }
  .page-breadcrumb h1 {
    font-size: 17px;
    color: #6e6f6f;
    font-weight: 700;
    text-transform: uppercase; }

.ppc-ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto; }
  @media (min-width: 768px) {
    .ppc-ads {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.ppc-ads--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .ppc-ads--left h1 {
    font-size: 25px;
    color: #6e6f6f;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 9px solid #55e9e9;
    height: 17px; }
  .ppc-ads--left p {
    font-size: 18px;
    color: #6e6f6f;
    font-weight: 400;
    width: 85%; }

.ppc--help {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.ppc-6pac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.ppc-help--header {
  font-size: 24px;
  color: #6e6f6f;
  font-weight: 700;
  margin: 50px;
  text-transform: uppercase;
  border-bottom: 9px solid #55e9e9;
  height: 17px; }

.ppc-pac {
  width: 30%; }
  .ppc-pac h1 {
    font-size: 21px;
    color: #6e6f6f;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize; }
  .ppc-pac p {
    font-size: 21px;
    color: #6e6f6f;
    font-weight: 400;
    text-align: center; }

.page-content--header {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 992px) {
    .page-content--header {
      margin: 100px auto; } }
  .page-content--header > h1 {
    font-size: 25px;
    color: #6e6f6f;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .page-content--header > p {
    font-size: 25px;
    color: #6e6f6f;
    font-weight: 400;
    text-align: center; }

.solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px; }
  @media (min-width: 768px) {
    .solutions {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.solution {
  width: auto;
  margin: auto; }
  .solution img {
    max-width: 540px;
    margin: auto; }
  @media (min-width: 768px) {
    .solution {
      width: 33%;
      margin: 0; } }

.solution-picture {
  height: 350px;
  margin: auto;
  text-align: center; }
  .solution-picture img {
    height: 100%;
    width: 100%; }

.solution-description h1 {
  margin-top: 10px;
  font-size: 25px;
  color: #6e6f6f;
  font-weight: 700;
  text-align: center; }

.solution-description p {
  font-size: 23px;
  color: #6e6f6f;
  font-weight: 400;
  text-align: center; }

.free-consultation--header {
  margin-bottom: 0; }

.free-consultation--header-image {
  width: 50%; }

.free-consultation--hdiw-background {
  background: #dddcdb; }

.free-consultation--hdiw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #dddcdb;
  padding-top: 50px; }
  .free-consultation--hdiw > div {
    width: 100%; }
    @media (min-width: 768px) {
      .free-consultation--hdiw > div {
        width: 50%; } }
  .free-consultation--hdiw h1 {
    font-size: 25px;
    color: #6e6f6f;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    .free-consultation--hdiw {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.free-consultation--hdiw-left__list-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .free-consultation--hdiw-left__list-element span {
    color: #fff;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border-radius: 50%;
    background: #ee5d1b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .free-consultation--hdiw-left__list-element p {
    width: 85%; }

.free-consultation--hdiw-right {
  margin-top: 20px; }
  @media (min-width: 992px) {
    .free-consultation--hdiw-right {
      margin-top: 0; } }

.free-consultation--hdiw-right__form input,
.free-consultation--hdiw-right__form textarea {
  width: 100%;
  margin: 5px 0;
  padding: 0 0 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.free-consultation--hdiw-right__form input {
  height: 50px; }

.free-consultation--hdiw-right__form textarea {
  height: 70px;
  padding-top: 10px;
  resize: none; }

.free-consultation--hdiw-right__form .free-consultation--hdiw-right__form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .free-consultation--hdiw-right__form .free-consultation--hdiw-right__form-name input {
    width: 49%; }
    .free-consultation--hdiw-right__form .free-consultation--hdiw-right__form-name input:first-of-type {
      margin-right: 1%; }
    .free-consultation--hdiw-right__form .free-consultation--hdiw-right__form-name input:last-of-type {
      margin-left: 1%; }

.contact-me--form-wrapper {
  position: absolute;
  left: 1%;
  top: calc(50% - 156px);
  width: 98%; }
  @media (min-width: 992px) {
    .contact-me--form-wrapper {
      width: 35%;
      right: 120px; } }

.contact-me--wrapper {
  position: relative; }
  .contact-me--wrapper img {
    max-width: unset; }
    @media (min-width: 992px) {
      .contact-me--wrapper img {
        max-width: 100%; } }

.hamburger {
  cursor: pointer; }
  @media (min-width: 992px) {
    .hamburger {
      display: none; } }

.hamburger .hamburger-input {
  display: none; }

svg {
  position: absolute;
  top: 40px;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: url("#gooey");
          filter: url("#gooey");
  width: 50px; }

path {
  fill: none;
  stroke-linecap: round;
  stroke: #3f4040;
  stroke-width: 1.5px; }

.icon {
  -webkit-transition: all 800ms cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 800ms cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

.top,
.bottom {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-transition-duration: 1000ms, 1000ms, 500ms;
          transition-duration: 1000ms, 1000ms, 500ms;
  -webkit-transition-property: stroke-dasharray, stroke-dashoffset, -webkit-transform;
  transition-property: stroke-dasharray, stroke-dashoffset, -webkit-transform;
  transition-property: stroke-dasharray, stroke-dashoffset, transform;
  transition-property: stroke-dasharray, stroke-dashoffset, transform, -webkit-transform;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  stroke-dasharray: 16px 110.21px;
  stroke-dashoffset: -86.21px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.middle {
  -webkit-transition: all 600ms cubic-bezier(0.5, -0.1, 0.5, 1.1);
  transition: all 600ms cubic-bezier(0.5, -0.1, 0.5, 1.1);
  stroke-dasharray: 16px 56px;
  stroke-dashoffset: -32px;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms; }

.hamburger-input:checked + svg .icon {
  -webkit-transform: translateX(-66px);
          transform: translateX(-66px); }

.hamburger-input:checked + svg .top,
.hamburger-input:checked + svg .bottom {
  stroke-dashoffset: -9.9px;
  stroke-dasharray: 19.8px 110.21px;
  -webkit-transition-delay: 0ms, 0ms, 500ms;
          transition-delay: 0ms, 0ms, 500ms; }

.hamburger-input:checked + svg .top {
  -webkit-transform: translateY(18px);
          transform: translateY(18px); }

.hamburger-input:checked + svg .bottom {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px); }

.hamburger-input:checked + svg .middle {
  stroke-dashoffset: 16px;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms; }

.debug {
  display: none; }

.debug path {
  stroke-dasharray: none !important;
  stroke: #000 !important; }

.enable-debug .debug {
  display: inherit; }

.enable-debug .icon {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important; }

.enable-debug svg {
  -webkit-filter: none;
          filter: none; }

.nav-menu-mobile {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 800ms cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 800ms cubic-bezier(0.4, 0, 0.6, 1); }
  .nav-menu-mobile li {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #dedede; }
    .nav-menu-mobile li a {
      padding: 8px;
      color: #3f4040;
      text-transform: uppercase;
      letter-spacing: 4px; }
      .nav-menu-mobile li a:hover {
        cursor: pointer; }
  @media (min-width: 992px) {
    .nav-menu-mobile {
      display: none; } }

.nav-open {
  height: 240px;
  margin-bottom: 15px; }

.content__container {
  display: none; }
  @media (min-width: 768px) {
    .content__container {
      display: block; } }

.content__container__list {
  display: none; }
  @media (min-width: 768px) {
    .content__container__list {
      display: block; } }

.ppc-border__vertical {
  background: #b9e9e9;
  height: 158px;
  width: 1px; }

.ppc-border__horizontal {
  background: #b9e9e9;
  width: 282px;
  height: 1px;
  margin: 10px 0; }
  @media (min-width: 1200px) {
    .ppc-border__horizontal {
      width: 342px; } }

.ppc--help {
  display: none; }
  @media (min-width: 992px) {
    .ppc--help {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.ppc-help-mobile {
  margin-top: 25px;
  display: block;
  font-size: 31px; }
  @media (min-width: 992px) {
    .ppc-help-mobile {
      display: none; } }

.contact-header {
  width: 80%; }
  @media (min-width: 992px) {
    .contact-header {
      width: 50%; } }
  .contact-header h1 {
    border-bottom: 9px solid #55e9e9;
    height: 19px; }

.active {
  border-bottom: 2px solid #ee5c1b; }
